{erl_opts, [debug_info]}.

{deps, [
    {atomvm_lib, {git, "https://github.com/atomvm/atomvm_lib.git",
        {ref, "e5ec0248e0286effebcbc0ad70cc9f7228f463ae"}}}
]}.

{atomvm_rebar3_plugin, [
 {esp32_flash, [{port, "/dev/cu.usbmodem101"}, {offset, "0x250000"}]},
 {include_stdlib, true},
 {start_module, atomtest_app}
]}.

